[Unit]
Description=Sign Tuxedo Kernel Modules for Secure Boot
After=kernel-install.service
Before=tuxedo-modules.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tuxedo-sign-modules
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

